@import 'app/styles/main.scss';

body {
  padding-top: 5%;
  margin: 0 auto;
}
.img5 {
  background-image: url("../images/fkj3.jpg");
  background-position: center;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  }
